<div style="display: flex; width: 100%; justify-content: center">
  <div
    style="margin-top: 3%; background-color: rgba(245,157,65,0.9); width: 75vh; min-height: 80vh; display: flex;  align-items: center; flex-direction: column">
    <div style="margin-top: 3%">
      <span style="font-size: 30px; color:white; font-weight: bold">FAQ</span>
    </div>
    <div style="margin-left: 3%;width: 100%;font-size: 24px; color:white; font-weight: bold">
        What is this website?
    </div>
    <div style="margin-left: 3%;margin-right:3%;font-size: 16px; color:white;word-wrap: break-word">
      SnakeBytes is a browser based game that pays a small number of satoshis everyday to the top player in the leaderboard.
    </div>
    <div style="margin-left: 3%;width: 100%;font-size: 24px; color:white; font-weight: bold">
      How do I play?
    </div>
    <div style="margin-left: 3%;margin-right:3%;font-size: 16px; color:white;word-wrap: break-word">
      First sign in, you'll need to enter an unique username and the game will generate a PGP private key and the public key hash for you, store both and use the username and public key hash to sign in. After you are signed in head to the Play! tab and start playing, the game is classic snake controlled by the arrow keys (mobile is not supported).
    </div>
    <div style="margin-left: 3%;width: 100%;font-size: 24px; color:white; font-weight: bold">
      PGP?
    </div>
    <div style="margin-left: 3%;margin-right:3%;font-size: 16px; color:white;word-wrap: break-word">
      Yes! You will need knowledge of PGP and Cashu to receive the prize if you become the leader of the leaderboard, google it up, the prize is a PGP encrypted Cashu token encrypted with your key if the prize is yours. This is the mint to redeem your token once you decrypt it: https://8333.space:3338
    </div>
    <div style="margin-left: 3%;width: 100%;font-size: 24px; color:white; font-weight: bold">
      Do the Leaderboards reset?
    </div>
    <div style="margin-left: 3%;margin-right:3%;font-size: 16px; color:white;word-wrap: break-word; width: 95%">
      Yes! After every prize is paid to give the chance for new players.
    </div>
    <div style="margin-left: 3%;width: 100%;font-size: 24px; color:white; font-weight: bold">
      Other questions or tutorials?
    </div>
    <div style="margin-left: 3%;margin-right:3%;font-size: 16px; color:white;word-wrap: break-word; width: 95%">
      Checkout the developer on twitter https://twitter.com/ODevLibertario or Nostr: npub1cpxjrlnhfmcclcsly5c0dvrgvl5nsctzxpp4s9f2nh4qeq50mwsq4089fc
    </div>
  </div>
</div>
