<!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-light" style="background-color: rgba(245,157,65,0.7);">
  <!-- Container wrapper -->
  <div class="container-fluid" style="opacity: 1">
    <!-- Navbar brand -->
    <a class="navbar-brand" href="#"><img src="assets/snakebytes.png" height="40px"/></a>

    <!-- Toggle button -->
    <button
      class="navbar-toggler"
      type="button"
      (click)="basicNavbar.toggle()"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <i class="fas fa-bars"></i>
    </button>

    <!-- Collapsible wrapper -->
    <div
      class="collapse navbar-collapse"
      id="navbarSupportedContent"
      mdbCollapse
      #basicNavbar="mdbCollapse"
    >
      <!-- Left links -->
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item" *ngIf="username">
          <a class="nav-link active" aria-current="page" routerLink="game" style="color: white">Play!</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink="leaderboard" style="color: white">Leaderboard</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink="prize" style="color: white">Take the Prize</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink="faq" style="color: white">How does this work? </a>
        </li>
      </ul>
      <!-- Left links -->

      <div class="d-flex align-items-center">
        <button *ngIf="!username" type="button" class="btn btn-primary px-3 me-2" routerLink="sign-up" style="background-color: #059C05">
          Sign Up
        </button>
        <button *ngIf="!username" type="button" class="btn btn-primary px-3 me-2" routerLink="sign-in" style="background-color: #059C05">
          Sign In
        </button>
        <button *ngIf="username" type="button" class="btn btn-primary px-3 me-2" style="background-color: #e23c3c" (click)="logout()">
          Logout
        </button>
        <a
          class="btn btn-dark px-3"
          href="https://github.com/ODevLibertario/snakebytes-frontend"
          role="button"
        ><i class="fab fa-github"></i
        ></a>
      </div>
    </div>
    <!-- Collapsible wrapper -->
  </div>
  <!-- Container wrapper -->
</nav>
<!-- Navbar -->
